body {
    background-color: #dee2ff;
    background-image: linear-gradient(#dee2ff, #8e9aaf);
}

#members-container {
    margin: 20px;
}

.figMember {
    padding:10px;
    padding-bottom: 0;
}

#figContiner {
    padding-left: 5%;
}

.imgDiv {
    width: 320px;
    margin: 30px;
    float: left;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 19), 0 6px 20px 0 rgba(128, 128, 128, 19);
}

.imgDiv:hover {
    cursor: pointer;
}

#aboutGoodGums {
    clear: left;
}

.memberDetails {
    font-weight:bolder;
}

#laTrobeFrame {
    border: none;
}

iframe {
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 19), 0 6px 20px 0 rgba(128, 128, 128, 19);
}



@media screen and (min-width: 600px) {
    #locationSection {
        margin: 10px;
        border: 7px groove #d4d4d4;
        padding: 15px;
        background-color: #f1f3ff;
    }

    address {
        padding-top: 30px;
        padding-left: 0;
        margin: 50px 30px 0 0;
        float: right;
    }

    #addName {
        font-size: 20px
    }

    iframe {
        margin: 20px 0 10px 10px;
    }
}
